<div [fxLayout]="'row wrap'" fxLayoutGap="1rem" >
  <mat-form-field fxFlex>
    <mat-select placeholder="Technical Reference"  [(ngModel)]="selectedTechnicalRefName">
      <mat-option  *ngFor="let technicalReference of technicalReferences" [value]="technicalReference">{{technicalReference}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex>
    <input #technicalRef matInput placeholder="Value" (keyup.enter)="addCriteria('TechnicalRef',technicalRef.value)" (blur)="addCriteria('TechnicalRef',technicalRef.value)">
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-select placeholder="Business Reference"  [(ngModel)]="selectedBusinessRefName">
      <mat-option  *ngFor="let businessReference of businessReferences" [value]="businessReference">{{businessReference}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex>
    <input #businessRef matInput placeholder="Value" (keyup.enter)="addCriteria('BusinessRef',businessRef.value)" (blur)="addCriteria('BusinessRef',businessRef.value)">
  </mat-form-field>

  <mat-form-field fxFlex>
    <mat-select placeholder="Exception Reference"  [(ngModel)]="selectedExceptionRefName">
      <mat-option  *ngFor="let exceptionReference of exceptionReferences" [value]="exceptionReference">{{exceptionReference}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field fxFlex>
    <input #exceptionRef matInput placeholder="Value" (keyup.enter)="addCriteria('ExceptionRef',exceptionRef.value)" (blur)="addCriteria('ExceptionRef',exceptionRef.value)">
  </mat-form-field>

  <mat-form-field fxFlex>
    <input #startDateTime matInput placeholder="Start" type="datetime-local" (keyup.enter)="addCriteria('StartDateTime',startDateTime.value)" (blur)="addCriteria('StartDateTime',startDateTime.value)">
  </mat-form-field>
  <mat-form-field fxFlex>
    <input #endDateTime matInput placeholder="End" type="datetime-local" (keyup.enter)="addCriteria('EndDateTime',startDateTime.value)" (blur)="addCriteria('EndDateTime',endDateTime.value)">
  </mat-form-field>

</div>
<div [fxLayout]="'row'"  *ngIf="chips?.length>0">
  <mat-form-field class="filter-chip-list" fxFill>
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let chip of chips" [selectable]="true"
                [removable]="true" (removed)="removeCriteria(chip.name )">
        {{chip.name}}={{chip.value}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
</div>
