@import '~@angular/material/theming';
@include mat-core();

$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$error-handling-light-theme:   mat-light-theme($light-primary, $light-accent);
@include angular-material-theme($error-handling-light-theme);


// Define an alternate error-handling theme.
$dark-primary: mat-palette($mat-green);
$dark-accent:  mat-palette($mat-yellow);
$dark-warn:    mat-palette($mat-red);
$error-handling-dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.error-handling-theme {
  @include angular-material-theme($error-handling-dark-theme);
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

