<div class="error-handling-theme">
  <mgl-timeline [toggle]="false" [alternate]="false">
    <mgl-timeline-entry *ngFor="let entry of entries; let i = index;"
                        (expand)="onExpandEntry($event, i)">
      <mgl-timeline-entry-header (click)="onHeaderClick($event)">
        <div>{{entry.ComponentName}}-{{entry.ServiceName}}-{{entry.BusinessOperation}}</div>
      </mgl-timeline-entry-header>
      <mgl-timeline-entry-content>
        <div fxLayout="column">
          <div fxFlex>
            <div>{{entry.BusinessDomain}} {{entry.TechnicalDomain}} {{entry.BusinessConcept}}</div>
          </div>
          <div *ngFor="let businessRef of entry.BusinessRefs.BusinessRef;" fxFlex>
            <div>{{businessRef.Name}}={{businessRef.Value}}</div>
          </div>
          <div *ngIf="entry.EventType=='E'" fxFlex>
            <div>Category={{entry.Category}}</div>
            <div>Severity={{entry.Severity}}</div>
            <div>Type={{entry.Type}}</div>
            <div>Code={{entry.Code}}</div>
            <div>Message={{entry.Message}}</div>
          </div>
        </div>

      </mgl-timeline-entry-content>
      <mgl-timeline-entry-dot [class]="entry.Status=='EventStart' ? 'primary' : 'accent'"
                              [size]="50"
                              (click)="onDotClick($event,entry)"></mgl-timeline-entry-dot>
     <mgl-timeline-entry-side fxLayout="row" >
       <div fxFlex class="mySideBox">{{entry.TransactionData}}</div>
       <div fxFlex class="mySideBox">{{entry.DumpAnalysis}}</div>

      </mgl-timeline-entry-side>
    </mgl-timeline-entry>
  </mgl-timeline>
</div>
