/*.transaction-list-table {
  height: 400px;
  width: 550px;
  overflow: auto;
}



.mat-table {
  width: 800px;
}


*/


.example-container {
  overflow: auto;
}

table {
  width: 100%;
}

.mat-header-row, .mat-row {
  padding-left: 8px;
}
