<div fxLayout="column">
  <app-transaction-filter (filterChanged)="onFilterChange($event)" [style.background]="'white'" class="asml--padding-left-right-s mat-elevation-z1"></app-transaction-filter>
  <div class="asml--padding-left-right-s asml--margin-top-s">
  <div class="example-container  mat-elevation-z1">
    <table mat-table [dataSource]="dataSource" >

      <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}" [sticky]="disCol=='TransactionID'">
        <th mat-header-cell *matHeaderCellDef> {{disCol}} </th>

        <td mat-cell *matCellDef="let element" class="error-handling-theme">
          <mat-icon *ngIf="disCol=='Status' && element[disCol]=='Done'"  color="primary">sentiment_very_satisfied</mat-icon>
          <mat-icon *ngIf="disCol=='Status' && element[disCol]=='Error'" color="warn">sentiment_very_dissatisfied</mat-icon>
          <mat-icon *ngIf="disCol=='Status' && element[disCol]=='Pending'" color="accent">sentiment_dissatisfied</mat-icon>
          <a *ngIf="disCol=='TransactionID'" [routerLink]="['/transaction',element[disCol]]">{{element[disCol]}}</a>
          <div *ngIf="disCol!='Status' && disCol!='TransactionID'" class="mat-row">{{element[disCol]}}</div>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
     <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  </div>

<!--  <div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <ng-container *ngFor="let disCol of displayedColumns; let colIndex = index" matColumnDef="{{disCol}}" [sticky]="disCol=='TransactionID'">
        <th mat-header-cell *matHeaderCellDef> {{disCol}} </th>

        <td mat-cell *matCellDef="let element" class="error-handling-theme">
          <div class="mat-row">{{element[disCol]}}</div>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>-->

</div>
