<div>
  <app-transaction-filter (filterChanged)="onFilterChange($event)"></app-transaction-filter>

  <p> Transaction List Component</p>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="BusinessConcept">
      <th mat-header-cell *matHeaderCellDef> BusinessConcept </th>
      <td mat-cell *matCellDef="let element"> {{element.BusinessConcept}} </td>
    </ng-container>
    <ng-container matColumnDef="BusinessDomain">
      <th mat-header-cell *matHeaderCellDef> BusinessDomain </th>
      <td mat-cell *matCellDef="let element"> {{element.BusinessDomain}} </td>
    </ng-container>
    <ng-container matColumnDef="BusinessOperation">
      <th mat-header-cell *matHeaderCellDef> BusinessOperation </th>
      <td mat-cell *matCellDef="let element"> {{element.BusinessOperation}} </td>
    </ng-container>
    <ng-container matColumnDef="ComponentName">
      <th mat-header-cell *matHeaderCellDef> ComponentName </th>
      <td mat-cell *matCellDef="let element"> {{element.ComponentName}} </td>
    </ng-container>
    <ng-container matColumnDef="DateTime">
      <th mat-header-cell *matHeaderCellDef> DateTime </th>
      <td mat-cell *matCellDef="let element"> {{element.DateTime}} </td>
    </ng-container>
    <ng-container matColumnDef="HostName">
      <th mat-header-cell *matHeaderCellDef> HostName </th>
      <td mat-cell *matCellDef="let element"> {{element.HostName}} </td>
    </ng-container>
    <ng-container matColumnDef="ServiceName">
      <th mat-header-cell *matHeaderCellDef> ServiceName </th>
      <td mat-cell *matCellDef="let element"> {{element.ServiceName}} </td>
    </ng-container>
    <ng-container matColumnDef="TechnicalDomain">
      <th mat-header-cell *matHeaderCellDef> TechnicalDomain </th>
      <td mat-cell *matCellDef="let element"> {{element.TechnicalDomain}} </td>
    </ng-container>
    <ng-container matColumnDef="TransactionID">
      <th mat-header-cell *matHeaderCellDef> TransactionID </th>
      <td mat-cell *matCellDef="let element"> <a [routerLink]="['/transaction',element.TransactionID]">{{element.TransactionID}} </a></td>
    </ng-container>
    <ng-container matColumnDef="Event">
      <th mat-header-cell *matHeaderCellDef> Event </th>
      <td mat-cell *matCellDef="let element"> {{element.Event}} </td>
    </ng-container>
    <ng-container matColumnDef="JobKey">
      <th mat-header-cell *matHeaderCellDef> JobKey </th>
      <td mat-cell *matCellDef="let element"> {{element.JobKey}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
